* {
    margin: 0px;
    padding: 0px;
}

body {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    /* font-family: Raleyway; */
}

.main {
    width: 100vw;
    height: 100vh;
    /* background-color: aqua; */
}

.top-nav-bar {
    width: 100%;
    height: 14%;
    /* padding-left: 10px; */
    background-color: #fff;
    display: flex;
    /* position: sticky; */
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    width: 25%;
    /* height: 100%; */
    /* padding: opx; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: blue; */
}

@media screen and (max-width: 800px) {
    .nav-logo img {
        width: 50%;
    }
}

.nav-bar {
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* position: fixed; */
}

ul {
    display: flex;
    /* justify-content: space-evenly; */
    list-style-type: none
}

/* ul li {

} */

ul li a {
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;
    font-size: 1rem;
}

@media screen and (max-width: 800px) {
    ul li a {
        font-size: 0.5rem;
    }
}



/* CSS for banner contaioner start*/

.slide-container {
    width: 100vw;
    height: 100vh;
    position: relative;

}

.slide {
    display: none;
}

.slide img {
    width: 100%;
    height: 83.5vh;
    filter: brightness(50%);

}


.slide h1 {
    color: #fff;
    font-size: 4vw;
    font-weight: bold;
    position: absolute;
    bottom: 60%;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}

.slide p {
    color: #fff;
    font-size: 1.4vw;
    font-weight: 400;
    position: absolute;
    bottom: 50%;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}

.slide button {
    padding: 15px 60px;
    /* color: black; */
    background-color: #fff;
    border: none;
    position: relative;
    bottom: 14vw;
    left: 40%;
    width: 20%;
    height: 50px;
    border-radius: 15px;
    font-size: 1vw;
    cursor: pointer;
}

.slide button:hover {
    background-color: blue;
    color: #fff;
}

/* CSS for Banner container ends----------------------------------------------------------------- */

/* CSS for About us container starts------------------------------------------------------------- */
.about-us {
    width: 100vw;
    height: 100vh;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
}

.aboutus-left {
    width: 50%;
    height: 85%;
    /* background-color: rgb(127, 193, 250); */
    position: relative;
    display: flex;
}

.aboutus-left img {
    position: absolute;
    right: 0%;
    /* top: 10%; */
}

.aboutus-right {
    width: 50%;
    height: 85%;
    padding-right: 30px;
    padding-left: 20px;
    margin-left: 10px;

}

.aboutus-right h1 {
    font-size: 4em;
    color: #2F59A4;
    margin-top: 4vh;
}

.aboutus-right p {
    margin-top: 35px;
    font-size: 1.2em;
    font-weight: 100;
    line-height: 35px;
}

/* CSS for About us container ends--------------------------------------------------------- */

/* CSS for Product Starts------------------------------------------------------------------ */
.product {
    width: 100vw;
    height: 100vh;
    background-color: #f0ebeb;

}

.title h1 {
    font-size: 60px;
    text-align: center;
    margin-bottom: 30px;
    padding-top: 20px;
    color: #2F59A4;
}

.title p {
    font-size: 20px;
    text-align: center;
    margin-bottom: 8vh;
    margin-left: 70px;
    margin-right: 70px;
}

.product-info {
    width: 88%;
    height: 55%;
    /* background-color: #2F59A4; */
    display: flex;
    margin-left: 5.5%;
    /* position: relative; */
}

.product1 {
    background-color: #fff;
    height: 95%;
    width: 26%;
    /* border: 1px solid black; */
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
    margin: 10px;
    padding: 10px;
    overflow: hidden;
    /* position: absolute; */
}

figure img {
    max-width: 100%;
}

strong {
    font-size: 25px;
    /* margin-bottom: 20px; */
}

.product-info p {
    font-size: 14px;
    margin-bottom: 20px;
    margin-top: 17px;
    letter-spacing: 1px;
}

.product1 a {
    width: 135px;
    height: 40px;
    background-color: blue;
    color: #fff;
    padding: 10px 30px;
    margin-right: 50px;
    margin-bottom: 20px;
    align-items: center;
    border-radius: 10px;
}

.product1 .polygon {

    width: 51.49px;
    height: 55.28px;
    content: "";
    background: #5e6ef9;
    clip-path: polygon(100% 82%, 63% 100%, 100% 100%);
    padding-left: 100%;
    padding-bottom: 0px;
}

/* CSS for Product Ends */

/* CSS for Service Starts */
.service {
    width: 100vw;
    height: 70vh;
    background-image: url(/Images/map.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.service .title p {
    margin-bottom: 50px;
}

/* .service strong {
    color: #fd0d0d;
} */

.service-img {
    width: 80%;
    height: 240px;
    /* background-color: #5e6ef9; */
    margin-left: 10%;
    display: flex;
}

.service1 {
    width: 300px;
    height: 240px;
}

.service1 img {
    width: 240 px;
    height: 240px;
}

.service-img .service1 strong {
    position: relative;
    left: 20%;
    bottom: 66%;
    font-size: 4vh;
}

/* CSS for Service ends */

/* CSS for advantage Starts */
.advantage {
    width: 100vw;
    height: 80vh;
    background-color: #000;
    background-repeat: no-repeat;
    background-size: contain;
}

.advantage .title p {
    margin-bottom: 50px;
    color: #fff;
}

/* CSs for advantage ends */